.centerhead{
    width: 100%;
    background-color: transparent;
    position: absolute;
    border-bottom: 1.5px solid gray;
    .menu{
        max-width: 1300px;
        height: 96px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .logo{
            display: flex;
            align-items: center;
            width: 43px;
            height: 100px;
            border-bottom: 2px solid #00AEFF;
        }

        .logonav{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .desktop{
            
                display: flex;
                flex-direction: row;
                list-style: none;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 17px;
                    color: white;
                    height: 100px;
                    cursor: pointer;
                }
                li:hover{
                    border-bottom: 2px solid #00AEFF;
                }
            }    
        }

        .buttons{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            .criarconta{
                width: 115px;
                height: 40px;
                background-color: transparent;
                border-radius: 3px;
                color: white;
                border: 1px solid white;
                margin-right: 16px;
                font-weight: 500;
                cursor: pointer;
            }
            .criarconta:hover{
                background-color: white;
                color: black;
            }
            .logar{
                width: 115px;
                height: 40px;
                background: #00AEFF;
                color: white;
                border-radius: 3px;
                border: none;
                cursor: pointer;
            }
        }
    }
} 