.bannerhero{
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    .center{
        width: 100%;
        height: 100%;
        max-width: 1280px;
        display: flex;
        justify-content: space-between;
        @media (max-width:1350px) {
            padding: 0 6%;
        }
        .jogosecontent{
            display: flex;
            margin-top: 100px;
            @media (max-width:1000px) {
                flex-direction: column-reverse;
            }
            .jogos{
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media (max-width:1000px) {
                    width: 80%;
                }
                .listajogos{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    list-style: none;
                    @media (max-width:1000px) {
                        flex-direction: row;
                        justify-content: space-around;
                    }
                    @media (max-width:550px) {
                        flex-direction: row;
                        justify-content: space-around;
                        width: 120%;
                    }
                    .select{
                        filter: grayscale(0%);
                    }
                    li{
                        cursor: pointer;
                        margin-bottom: 20px;
                        filter: grayscale(100%);
                        img{
                            width: 50px;
                        }
                    }
                }
            }
            .text{
                width: 100%;
                height: 95%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                margin-left: 50px;
                @media (max-width:1000px) {
                    margin-left: 0;
                    margin-top: 94px;
                }     
                h2{
                    max-width: 560px;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 110.2%;
                    margin-bottom: 16px;
                    @media (max-width:700px) {
                        font-size: 40px;
                        max-width: 95%;
                    } 
                }
                p{
                    @media (max-width:700px) {
                        font-size: 18px;
                        max-width: 95%;
                    } 
                }
                button{
                    width: max-content;
                    padding: 0 32px;
                    height: 52px;
                    margin-top: 32px;
                    border-radius: 4px;
                    border: none;
                    background: #00AEFF;
                    color: white;   
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        padding-right: 15px;
                    }
                }
            }
        }
        
        .trailer{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-end;
            color: white;
            text-align: end;
            padding:  80px 0;
            @media (max-width: 1080px) {
                justify-content: space-between;
            }
            @media (max-width: 760px) {
                display: none;
            }
            img{
                @media (max-width: 1080px) {
                    margin-top: 50px;
                }
            }
            p{
                margin-bottom: 16px;
            }

            .boxtrailler{
                width: 280px;
                height: 158px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-position: center;
                background-size: cover;
                border-radius: 8px;
                @media (max-width:1080px) {
                    align-items: baseline;
                }
            }
        }

    }
}