.bannerhero{
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    .center{
        width: 100%;
        height: 100%;
        max-width: 1300px;
        display: flex;
        .jogos{
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .listajogos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style: none;
                margin-top: 100px;
                .select{
                    filter: grayscale(0%);
                }
                li{
                    cursor: pointer;
                    margin-bottom: 20px;
                    filter: grayscale(100%);
                    img{
                        width: 50px;
                    }
                }
            }
        }
        .text{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;     
            h2{
                max-width: 560px;
                font-weight: 700;
                font-size: 64px;
                line-height: 110.2%;
                margin-bottom: 16px;
            }
            button{
                width: max-content;
                padding: 0 32px;
                height: 52px;
                margin-top: 32px;
                border-radius: 4px;
                border: none;
                background: #00AEFF;
                color: white;   
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    padding-right: 15px;
                }
            }
        }
        .trailer{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-end;
            color: white;
            text-align: end;
            p{
                margin-bottom: 16px;
            }

            .boxtrailler{
                width: 280px;
                height: 158px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}