.area{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
}

.menumobile{
    padding: 2%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    opacity: .95;
    box-shadow: -29px 0px 19px 100vw rgba(0,0,0,0.54);
    width: 50vw;
    animation: width 1s;
    @keyframes width {
        from{
            width: 0;
        }
        to{
            width: 50vw;
        }
    }
    @media (max-width:600px) {
        width: 60vw;
        @keyframes width {
            
            from{
                width: 0;
            }
            to{
                width: 60vw;
            }
        }
    }
    @media (max-width:400px) {
        width: 80vw;
        @keyframes width {
            
            from{
                width: 0;
            }
            to{
                width: 80vw;
            }
        }
    }
    @media (max-width:300px) {
        width: 100vw;
        @keyframes width {
            from{
                width: 0;
            }

            to{
                width: 100vw;
            }
        }
    }

    .close{
        width: 25px;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    nav{
        color: white;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        ul{
            list-style: none;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            li{
                cursor: pointer;
                img{
                    padding-left: 10px;
                }
            }
            li:hover{
                color: #00AEFF;
            }
        }
        .buttonsm{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .criarconta{
                width: 115px;
                height: 40px;
                background-color: transparent;
                border-radius: 3px;
                color: white;
                border: 1px solid white;
                margin-right: 16px;
                font-weight: 500;
                cursor: pointer;
            }
            .criarconta:hover{
                background-color: white;
                color: black;
            }
            .logar{
                width: 115px;
                height: 40px;
                background: #00AEFF;
                color: white;
                border-radius: 3px;
                border: none;
                cursor: pointer;
            }
        }
        
    }
}