.menumobile{
    padding: 2%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    opacity: .95;
    box-shadow: -29px 0px 19px 100vw rgba(0,0,0,0.54);
    width: 50vw;
    animation: width 1s;
    @keyframes width {
        from{
            width: 0;
        }
        to{
            width: 50vw;
        }
    }
    @media (max-width:600px) {
        width: 60vw;
        @keyframes width {
            
            from{
                width: 0;
            }
            to{
                width: 60vw;
            }
        }
    }
    @media (max-width:400px) {
        width: 80vw;
        @keyframes width {
            
            from{
                width: 0;
            }
            to{
                width: 80vw;
            }
        }
    }
    @media (max-width:300px) {
        width: 100vw;
        @keyframes width {
            from{
                width: 0;
            }

            to{
                width: 100vw;
            }
        }
    }

    img{
        width: 25px;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    nav{
        color: white;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul{
            list-style: none;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            li{
                cursor: pointer;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            h5{
                font-size: 1.2em;
                margin-bottom: 10%;
                color: #00AEFF;
            }
            button{
                width: 80%;
                height: 52px;
                background: #00AEFF;
                border-radius: 4px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 35px;
                cursor: pointer;
                border: none;
                margin-bottom: 20%;
                img{
                    position: static;
                    padding-right: 10px;
                }
            }
        }
    }
}