footer{
    width: 100%;
    height: 850px;
    background-image: url(bgfooter.png);
    background-size: cover;
    background-repeat: no-repeat;
    .center{
        max-width: 1300px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .texts{
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            height: 60%;
            h4{
                font-weight: 700;
                font-size: 32px;
            }
            ul{
                list-style: none;
                font-weight: 400;
                font-size: 18px;
                color: #828792;
                li{
                    padding-bottom: 24px;
                    display: flex;
                    img{
                        padding-right: 16px;
                    }
                }
            }
            button{
                height: 52px;
                background: #00AEFF;
                border-radius: 4px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 35px;
                cursor: pointer;
                border: none;
                img{
                    padding-right: 10px;
                }
            }
            .mobiledescription{
                display: flex;
                max-width: 260px;
                img{
                    padding-right: 18px;
                }
                p{
                    a{
                        color: white;
                    }
                }
            }
        }
        .images{
            max-height: 550px;
            max-width: 50%;
            .two{
                margin-top: -300px;
                margin-left: 200px;
            }
        }
    }
}