.game{
    margin-bottom: 45px;
    .bggame{
        cursor: pointer;
        width: 300px;
        height: 410px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-position: center;
        background-size: 300px;
        transition-property: background-size;
        transition-duration: 0.5s;
        margin: 1px;
        @media (max-width:1440px){
            background-size: 280px;
            width: 280px;
            height: 384px;
        }
        @media (max-width:950px) {
            background-size: 201px;
            width: 201px;
            height: 276px;
        }
        @media (max-width:735px) {
            background-size: 150px;
            width: 150px;
            height: 206px;
        }
        
        .logo{
            width: 60%;
            margin-bottom: 35px;
        }
        .effect{
            width: 300px;
            height: 410px;
            position: absolute;
            @media (max-width:1440px){
                width: 280px;
                height: 384px;
            }
            @media (max-width:950px) {
                width: 201px;
                height: 276px;
            }
            @media (max-width:735px) {
                width: 150px;
                height: 206px;
            }
        }
        .effect:hover{
            background: linear-gradient(182.71deg, #020203 2.26%, rgba(2, 2, 3, 0) 73.74%);
            transform: rotate(-180deg);
            opacity: 0.4;
            position: absolute;
        }
    }

    .bggame:hover{
        background-size: 365px;
        transition-delay: 250ms;
        @media (max-width:1440px){
            background-size: 345px;
        }
        @media (max-width:950px) {
            background-size: 280px;
        }
        @media (max-width:735px) {
            background-size: 186px;
        }
    }

    .name{
        font-weight: 600;
        font-size: 19px;
        color: #E5E5E5;
        margin-top: 18px;
        @media (max-width:1440px){
            max-width: 280px;
            font-size: 18px;
        }
        @media (max-width:950px) {
            max-width: 201px;
            font-size: 16px;
        }
        @media (max-width:735px) {
            max-width: 150px;
        }
        @media (max-width:400px) {
            display: none;
        }
    }
    .description{
        font-weight: 400;
        font-size: 15px;
        color: #E5E5E5;
        @media (max-width:1440px){
            max-width: 280px;
            font-size: 14px;
        }
        @media (max-width:950px) {
            max-width: 201px;
        }
        @media (max-width:735px) {
            max-width: 150px;
        }
        @media (max-width:400px) {
            display: none;
        }
    }
}

.jogosexclusivos{
    width: 100%;
    background-color: black;
    padding-bottom: 100px;
    .center{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        color: white;
        @media (max-width:1350px) {
            padding: 0 6%;
        }
        .header{
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title{
                display: flex;
                height: 40%;
                width: 20%;
                @media (max-width:1000px) {
                    display: none;
                }
                .games{
                    font-weight: 600;
                    font-size: 15px;
                    color: #8F9199;
                }
            }
            .infos{
                display: flex;
                width: 80%;
                justify-content: space-between;
                align-items: flex-end;
                height: 40%;
                @media (max-width:1000px) {
                    width: 100%;
                }
                @media (max-width:340px) {                        
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                h4{
                    font-weight: 700;
                    font-size: 32px;
                    max-width: 100px;
                    @media (max-width:400px) {                        
                        font-size: 28px;
                    }
                    @media (max-width:340px) {                        
                        max-width: 100%;
                    }
                }
                .logos{
                    @media (max-width:650px) {
                        display: none;
                    }
                    img{
                        margin-left: 22px;
                        cursor: pointer;
                    }
                    img:hover{
                        filter: contrast(10%);
                    }
                }
                .allgames{
                    cursor: pointer;
                    color: #00AEFF;
                    margin-bottom: 10px;
                    img{
                        padding-right: 10px;
                    }
                    @media (max-width:400px) {                        
                        font-size: 14px;
                    }
                    @media (max-width:340px) {                        
                        display: none;
                    }
                }
            }
        }

        .listgames{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width:365px) {
                justify-content: center;
            }
            .moregame{
                cursor: pointer;
                width: 300px;
                height: 410px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1.6125px solid #212428;
                border-radius: 4.3px;
                flex-direction: column;
                @media (max-width:1440px){
                    width: 280px;
                    height: 384px;
                }
                @media (max-width:950px) {
                    width: 201px;
                    height: 276px;
                }
                @media (max-width:735px) {
                    width: 150px;
                    height: 206px;
                }
                .verjogosg{
                    display: flex;
                    padding-top: 45px;
                    @media (max-width: 735px) {
                        font-size: 14px;
                    }
                    img{
                        padding-right: 14px;
                        @media (max-width: 600px) {
                            padding-right: 8px;
                        }
                    }
                }
            }
        }
    }
}